<!DOCTYPE html>
<html>
<head>
	<title>AHORCADO</title>
</head>
<body>
	<label>Palabra</label>
	<h2><%= session['palabraSecreta']%></h2>
	<label>Ingresar letra</label>
	<input type="text" name="letra" max="1" min="1" style="width: 50px;font-size: 80px">
</body>
</html>