<!DOCTYPE html>
<html>
<head>
	<title>AHORCADO</title>
</head>
<body>
	<form action = "" method = "post"> 
		<input type="text" id="secreto" name="secreto" value="">
		<h2><%= session['botella']%></h2>
		<h2><%= session['empresarial']%></h2>
	</form>

</body>
</html>