<!DOCTYPE html>
<html>
<head>
	<title>AHORCADO</title>
</head>
<body>
<center>
	<label>Palabra</label>
	<h2><%= session['palabraSecreta']%></h2>
	<form action="/validarLetra" method="post">
		<label>Ingresar letra</label>
		<input type="text" name="letra" max="1" min="1" maxlength="1" minlength="1">		
		<hr />
		<input type="submit" value="Jugar">
	</form>
</center>
</body>
</html>